@model List<Dave_E_commerce_website.Models.Product>

<h1>List of product available</h1>


<table id="products" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Alter</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
            {
                if(product.Category.Id == 1)
    {
            
    }

            <tr>
                <td>@product.Name</td>
                <td>@product?.Category?.Name</td>

                <td><a href="/Customer/Edit/@product.Id">Update</a></td>
                <td>
                    <button data-customer-id="@product.Id" class="btn-link js-delete">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
