<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/82ab9811e5.js" crossorigin="anonymous"></script>
    <style>

        .Dave {
            text-align: center;
            color: #A507EF,#E31657;
            font-size: 60px;
            font-family: Merriweather;
            font-weight: 700;
            line-height: 34.80px;
            letter-spacing: 4.32px;
            word-wrap: break-word
        }

        .Men {
            color: #101928;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 500;
            line-height: 24px;
            word-wrap: break-word;
            text-align: center;
        }

        .Women {
            color: #101928;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 500;
            line-height: 24px;
            word-wrap: break-word;
        }

        .Kids {
            color: #101928;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 500;
            line-height: 24px;
            word-wrap: break-word;
        }

        .Trending {
            color: #101928;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 500;
            line-height: 24px;
            word-wrap: break-word;
        }

        .Search here {
            color: #98A2B3;
            font-size: 14px;
            font-family: Raleway;
            font-weight: 500;
            line-height: 20px;
            word-wrap: break-word;
        }

        .Profile {
            color: #101928;
            font-size: 14px;
            font-family: Raleway;
            font-weight: 500;
            line-height: 24px;
            word-wrap: break-word;
        }

        .All Categories {
            color: #101928;
            font-size: 14px;
            font-family: Raleway;
            font-weight: 500;
            line-height: 24px;
            word-wrap: break-word;
        }

        .Cart {
            color: #101928;
            font-size: 14px;
            font-family: Raleway;
            font-weight: 500;
            line-height: 24px;
            word-wrap: break-word;
        }

        .nav-bar {
            align-self: stretch;
            width: 100%;
            height: 112px;
            padding-top: 24px;
            padding-bottom: 24px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            display: inline-flex;
        }

        .nav-item-bar {
            align-self: stretch;
            justify-content: space-between;
            align-items: center;
            display: inline-flex;
        }

        .categories-nav-bar {
            justify-content: flex-start;
            align-items: center;
            gap: 40px;
            display: flex;
        }

        .categoriesitem-nav-bar {
            width: 327px;
            justify-content: flex-start;
            align-items: center;
            gap: 30px;
            display: flex;
        }

        .Nav-menu {
            
            border-radius: 6px;
            overflow: hidden;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            display: inline-flex;
        }

        .Nav-menu-item {
            justify-content: center;
            align-items: center;
            gap: 8px;
            display: inline-flex;
            padding-right: 15px;
        }

        .fa-solid fa-chevron-down {
            color: #7e256b;
            height: 8.02px;
            left: 2.08px;
            top: 5.83px;
            position: absolute;
        }

        .fa-solid fa-chevron-left {
            width: 14px;
            height: 7px;
            left: 8.50px;
            top: 19px;
            position: absolute;
            transform: rotate(-90deg);
            transform-origin: 0 0;
            border: 1.50px #A507EF solid;
            cursor: pointer;
        }

        .fa-solid fa-chevron-right {
            width: 14px;
            height: 7px;
            left: 8.50px;
            top: 19px;
            position: absolute;
            transform: rotate(-90deg);
            transform-origin: 0 0;
            border: 1.50px #A507EF solid;
        }

        .cursor-badge {
            cursor: pointer
        }

        .mySlides {
            display: none;
        }

        .swiper {
            width: 600px;
            height: 300px;
        }

        .dropdown {
            float: left;
            overflow:visible;
            align-self: stretch;
            height: 40px;
            border-radius: 6px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            display: flex
        }

            .dropdown .dropbtn {
                border: none;
                outline: none;
                cursor: pointer;
                text-align: center;
                color: #101928;               
                font-size: 14px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 500;
                line-height: 24px;
                word-wrap: break-word;
                margin: 0;
            }

        .dropdown:hover .dropbtn, .dropbtn:focus {
            background-color: white;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 220px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 2;
            overflow: visible;
            top: 100%;
            left: 0;
        }

            .dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: center;             
            }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

        .show {
            display: block;
        }

        .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black;
        }

            .tooltip .tooltiptext {
                visibility: hidden;
                width: 120px;
                background-color: black;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                /* Position the tooltip */
                position: absolute;
                z-index: 1;
            }

            .tooltip:hover .tooltiptext {
                visibility: visible;
         }

      
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dave_E_commerce_website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Dave_E_commerce_website.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link href="~/lib/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
</head>
<body>

    <header>
        @*Header section for  Tabs*@
        <div style="width:100%; max-width: 1390px; height: 100%; padding-left: 70px; padding-right: 112px; background: white; border-bottom: 1px #C7ADD4 solid; flex-direction: column; justify-content: center; align-items: center; display: inline-flex; margin-bottom:20px;">
            <div class="nav-bar">
                <div class="nav-item-bar">
                    <div class="categories-nav-bar">
                        <a href="/Product/Indexe" style="left: 100px; cursor: pointer;">
                            <img src="~/Images/DAVEE.svg" />
                        </a>

                        <div class="categoriesitem-nav-bar">
                            <div class="Nav-menu">
                                <div class="Nav-menu-item">
                                    <a href="/Product/CategoryPage?categoryId=1" style="text-decoration:none;">
                                        <div class="Men">Men</div>
                                    </a>
                              
                                </div>
                            </div>
                            <div class="Nav-menu">
                                <div class="Nav-menu-item">
                                     <a href="/Product/CategoryPage?categoryId=2" style="text-decoration:none;">
                                        <div class="Women">Women</div>
                                    </a>
                                </div>
                            </div>
                            <div class="Nav-menu">
                                <div class="Nav-menu-item">
                                     <a href="/Product/CategoryPage?categoryId=3" style="text-decoration:none;">
                                        <div class="Kids">Kids</div>
                                    </a>
                                </div>
                            </div>
                            <div class="Nav-menu">
                                <div class="Nav-menu-item">
                                    <a href="/Product/CategoryPage?categoryId=4" style="text-decoration:none;">
                                        <div class="Trending">Trending</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Header section for the categories and user profile*@
                    <div style="justify-content: flex-start; align-items: center; gap: 32px; display: flex">
                        <div style="width: 375px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                            <div style="align-self: stretch; height: 36px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
                                <div style="align-self: stretch; height: 36px; padding-left: 12px; padding-right: 12px; padding-top: 8px; padding-bottom: 8px; background: #F0F2F5; border-radius: 6px; overflow: hidden; border: 1px #D0D5DD solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
                                    <div style="flex: 1 1 0; height: 20px; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                                        <div style="width: 20px; height: 20px; position: relative">
                                            <div class="fa-solid fa-magnifying-glass"></div>
                                        </div>
                                        <div style="justify-content: flex-start; align-items: center; gap: 2px; display: flex">
                                            <input id="products" type="text" style="color: #000000; font-size: 14px; font-family: Raleway; font-weight: 400; line-height: 20px; word-wrap: break-word; border: none; outline: none; background: none;" placeholder="Search here...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="justify-content: flex-start; align-items: center; gap: 32px; display: flex">
                            <div style="flex-direction: column; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
                                <div style="width: 20px; height: 20px; position: relative">
                                    <img src="~/Images/user.svg" />
                                </div>
                                <div style="align-self: stretch; height: 40px; border-radius: 6px; overflow: hidden; flex-direction: column; justify-content: center; align-items: flex-start; gap: 10px; display: flex">
                                    <div style="justify-content: center; align-items: center; gap: 8px; display: inline-flex">
                                        <div style="text-align: center; color: #101928; font-size: 14px; font-family: Arial, Helvetica, sans-serif; font-weight: 500; line-height: 24px; word-wrap: break-word">Profile</div>
                                    </div>
                                </div>
                            </div>
                            <div style="flex-direction: column; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
                                <div style="width: 20px; height: 20px; position: relative">
                                    <img src="~/Images/heart.svg" />
                                </div>
                                <div class="dropdown">
                                    <div style="justify-content: center; align-items: center; gap: 8px; display: inline-flex">
                                        <div class="dropbtn" onclick="myFunction()">All Categories</div>
                                        <div class="dropdown-content" id="myDropdown">
                                            <a href="/Product/CategoryPage?categoryId=1">Men</a>
                                            <a href="/Product/CategoryPage?categoryId=2">Women</a>
                                            <a href="/Product/CategoryPage?categoryId=3">Kids</a>
                                            <a href="/Product/CategoryPage?categoryId=5">Trending</a>
                                            <a href="/Product/CategoryPage?categoryId=4">Shoes and accessories</a>
                                        </div>
                                        <div style="width: 20px; height: 20px; position:relative; top: -3px;">
                                            <div class="fa-solid fa-chevron-down" style="color: #7e256b;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="flex-direction: column; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
                                <div style="width: 20px; height: 20px; position: relative">
                                    <img src="~/Images/cart.svg" />
                                </div>
                                <div style="align-self: stretch; height: 40px; border-radius: 6px; overflow: hidden; flex-direction: column; justify-content: center; align-items: flex-start; gap: 10px; display: flex">
                                    <div style="justify-content: center; align-items: center; gap: 8px; display: inline-flex">
                                        <div style="text-align: center; color: #101928; font-size: 14px; font-family: Arial, Helvetica, sans-serif; font-weight: 500; line-height: 24px; word-wrap: break-word">Cart</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>




   
                     
    <div style="width: 100%; height: 100%; padding-left: 50px; padding-right: 50px; background: #F9FAFB; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex; margin-top:100px;">
        <div style="align-self: stretch; height: 468px; padding-top: 64px; padding-bottom: 64px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 64px; display: flex">
            <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 32px; display: inline-flex">
                <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 15px; display: inline-flex">
                    <div style="align-self: stretch; color: #98A2B3; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: 400; line-height: 24px; word-wrap: break-word">Resources</div>
                    <div style="align-self: stretch; height: 120px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                        <div style="align-self: stretch; color: #667185; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: 500; line-height: 24px; word-wrap: break-word">Promotions</div>
                        <div style="align-self: stretch; color: #667185; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: 500; line-height: 24px; word-wrap: break-word">Find a Store</div>
                        <div style="align-self: stretch; color: #667185; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: 500; line-height: 24px; word-wrap: break-word">Become a member</div>
                        <div style="align-self: stretch; color: #667185; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: 500; line-height: 24px; word-wrap: break-word">Send us Feedback</div>
                    </div>
                </div>
                <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 15px; display: inline-flex">
                    <div style="align-self: stretch; color: #98A2B3; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: 400; line-height: 24px; word-wrap: break-word">Get Help</div>
                    <div style="align-self: stretch; height: 184px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                        <div style="align-self: stretch; color: #667185; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: 500; line-height: 24px; word-wrap: break-word">Order Status</div>
                        <div style="align-self: stretch; color: #667185; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: 500; line-height: 24px; word-wrap: break-word">Shipping & Delivery</div>
                        <div style="align-self: stretch; color: #667185; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: 500; line-height: 24px; word-wrap: break-word">Returns</div>
                        <div style="align-self: stretch; color: #667185; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: 500; line-height: 24px; word-wrap: break-word">Order Cancellation</div>
                        <div style="align-self: stretch; color: #667185; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: 500; line-height: 24px; word-wrap: break-word">Payment Options</div>
                        <div style="align-self: stretch; color: #667185; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: 500; line-height: 24px; word-wrap: break-word">Contact Us</div>
                    </div>
                </div>
                <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 15px; display: inline-flex">
                    <div style="align-self: stretch; color: #98A2B3; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: 400; line-height: 24px; word-wrap: break-word">About</div>
                    <div style="align-self: stretch; height: 120px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                        <div style="align-self: stretch; color: #667185; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: 500; line-height: 24px; word-wrap: break-word">About Us</div>
                        <div style="align-self: stretch; color: #667185; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: 500; line-height: 24px; word-wrap: break-word">Careers</div>
                        <div style="align-self: stretch; color: #667185; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: 500; line-height: 24px; word-wrap: break-word">Investors</div>
                        <div style="align-self: stretch; color: #667185; font-size: 16px; font-family: Arial, Helvetica, sans-serif; font-weight: 500; line-height: 24px; word-wrap: break-word">Purpose</div>
                    </div>
                </div>
                <div style="width: 369px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: inline-flex">
                    <div></div>
                    <div style="align-self: stretch; height: 122px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
                        <div style="align-self: stretch; height: 40px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
                            <div style="align-self: stretch; color: #344054; font-size: 14px; font-family: Arial, Helvetica, sans-serif; font-weight: 400; line-height: 20px; word-wrap: break-word">Get the latest updates about Davee's new features and product updates.</div>
                        </div>
                        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
                            <div style="width: 238px; align-self: stretch; border-radius: 50px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
                                <div style="align-self: stretch; height: 56px; padding: 16px; background: white; border-radius: 36px; overflow: hidden; border: 1px #D0D5DD solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
                                    <div style="flex: 1 1 0; height: 20px; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                                        <div style="justify-content: flex-start; align-items: center; gap: 2px; display: flex">
                                            <div style="color: #98A2B3; font-size: 14px; font-family: Arial, Helvetica, sans-serif; font-weight: 400; line-height: 20px; word-wrap: break-word">Email address</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="flex: 1 1 0; padding-left: 24px; padding-right: 24px; padding-top: 16px; padding-bottom: 16px; background: linear-gradient(98deg, #A507EF 0%, #E31657 100%); border-radius: 36px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                                <div style="justify-content: center; align-items: center; gap: 8px; display: inline-flex">
                                    <div style="text-align: center; color: white; font-size: 18px; font-family: Arial, Helvetica, sans-serif; font-weight: 500; word-wrap: break-word">Subscribe</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="align-self: stretch; height: 53px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: flex">
                <div style="width: 1216px; height: 1px; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 1216px; align-self: stretch; background: #E4E7EC"></div>
                </div>
                <div style="align-self: stretch; justify-content: space-between; align-items: flex-start; display: inline-flex">
                    <div style="justify-content: flex-start; align-items: center; gap: 32px; display: flex">
                        <div style="color: #667185; font-size: 14px; font-family: Arial, Helvetica, sans-serif; font-weight: 500; line-height: 20px; word-wrap: break-word">Terms of Service</div>
                        <div style="color: #667185; font-size: 14px; font-family: Arial, Helvetica, sans-serif; font-weight: 500; line-height: 20px; word-wrap: break-word">Privacy Policy</div>
                        <div style="color: #667185; font-size: 14px; font-family: Arial, Helvetica, sans-serif; font-weight: 500; line-height: 20px; word-wrap: break-word">Security</div>
                        <div style="color: #667185; font-size: 14px; font-family: Arial, Helvetica, sans-serif; font-weight: 500; line-height: 20px; word-wrap: break-word">Sitemap</div>
                    </div>
                    <div style="color: #98A2B3; font-size: 14px; font-family: Arial, Helvetica, sans-serif; font-weight: 400; line-height: 20px; word-wrap: break-word">© 2023 Davee All rights reserved.</div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/DataTables/js/jquery.dataTables.js"></script>
    <script src="~/lib/DataTables/js/dataTables.bootstrap4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)

    <script>

        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (e) {
            if (!e.target.matches('.dropbtn')) {
                var myDropdown = document.getElementById("myDropdown");
                if (myDropdown.classList.contains('show')) {
                    myDropdown.classList.remove('show');
                }
            }
        };



        var products = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/api/products?query=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#products').typeahead({
            minLength: 3,
            highlight: true
        }, {

            name: 'products',
            display: 'name',
            source: products

        });

       
    </script>

</body>
</html>


